#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

    /* src/index.css */
    @import "tailwindcss";